name: Build and Release

on:
  push:
    tags:
      - "v*"

permissions:
  contents: write

jobs:
  build:
    name: Build binaries
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Bun
        uses: oven-sh/setup-bun@v1
        with:
          bun-version: latest

      - name: Install dependencies
        run: bun i

      - name: Build plugins
        run: bun run build:plugins

      - name: Zip plugins
        run: cd dist && zip -r ../plugins.zip plugins

      - name: Compile binaries
        run: bun run build

      - name: Create Release
        uses: softprops/action-gh-release@v1
        with:
          files: |
            dist/plugin-b.exe
            dist/plugin-b-linux
            dist/plugin-b-linux-arm64
            dist/plugin-b-mac
            dist/plugin-b-mac-x64
            plugins.zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
