name: Build and Release

on:
  push:
    tags:
      - "v*"

permissions:
  contents: write

jobs:
  build:
    name: Build binaries
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Bun
        uses: oven-sh/setup-bun@v1
        with:
          bun-version: latest

      - name: Install dependencies
        run: bun i

      - name: Build plugins
        run: bun run build:plugins

      - name: Compile binaries
        run: bun run build

      - name: Create Release
        uses: softprops/action-gh-release@v1
        with:
          files: |
            dist/tts_node.exe
            dist/tts_node-linux
            dist/tts_node-linux-arm64
            dist/tts_node-mac
            dist/tts_node-mac-x64
            dist/plugins/*
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
